NEXT_PUBLIC_SUPABASE_URL=https://ptuddjquoowosfyzcrwk.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InB0dWRkanF1b293b3NmeXpjcndrIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODM5NTgyMzMsImV4cCI6MjA5OTUzNDIzM30.5kO9A-Wi0MWlo34hdUwQ89lhKOi-ckNGijyh1NAo9X4
